<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body> 
       
<nav>
  <a href="#"><img class="navbar-brand" src="imgs/LOGO.png"></a> 
  <a href="#" class="logo"> Strategic<span> Consulting</span> </a> 
  <ul class="main-nav">
      <li><a href="/" class="options">HOME</a></li>
      <li><a href="/team" class="options">TEAM</a></li>
      <li><a href="/service" class="options" id="active">SERVICES</a></li>
      <li><a href="/contact" class="options">CONTACTS</a></li>
  </ul>
  <button onclick="openNav()" class="dropbtn burger-button">|||</button>
     <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/" class="side-home">HOME</a>
      <a href="/team">TEAM</a>
      <a href="/service">SERVICES</a>
      <a href="/contact">CONTATCS</a> 
    </div>
</nav>




<div class="service-section">
    <div class="heading">
     <h1>Our Expertise</h1>        
      I'm a Paragraph. Click here to add your own text and edit me.<br>
      It’s easy. Just click “Edit Text” or double click me and you can start<br>
      adding your own content and make changes to the font.
    </div>

  <div class="services">
    
     <div class="feature">
     <p class="flag"> Strategy &amp; Organization</p>
     <p class="para"> I'm a Paragraph. Click here to add your own text <br>and edit me. It’s easy. Just click “Edit Text” or <br> double click me and you can start adding your <br> own content and make changes to the font.<br><br>
     ​I’m a great place for you to let your users know a <br> little more about you. If you want to delete me <br> just click on me and press delete<br><br><br><br>
     </p>   
     </div>
    
     <div class="feature">
     <p class="gray-flag">Globalization</p>
     <p class="para"> I'm a Paragraph. Click here to add your own text <br>and edit me. It’s easy. Just click “Edit Text” or <br> double click me and you can start adding your <br> own content and make changes to the font.<br><br>
     ​I’m a great place for you to let your users know a <br> little more about you. If you want to delete me <br> just click on me and press delete<br><br><br><br>
     </p>   
     </div>
    
    
     <div class="feature">
      <p class="flag">Corporate Finance</p>
      <p class="para"> I'm a Paragraph. Click here to add your own text <br>and edit me. It’s easy. Just click “Edit Text” or <br> double click me and you can start adding your <br> own content and make changes to the font.<br><br>
       ​I’m a great place for you to let your users know a <br> little more about you. If you want to delete me <br> just click on me and press delete<br><br><br><br>
      </p> 
    </div>
    

    <div class="feature">
      <p class="gray-flag"> IT Management</p>
      <p class="para"> I'm a Paragraph. Click here to add your own text <br>and edit me. It’s easy. Just click “Edit Text” or <br> double click me and you can start adding your <br> own content and make changes to the font.<br><br>
      ​I’m a great place for you to let your users know a <br> little more about you. If you want to delete me <br> just click on me and press delete<br><br><br><br>
      </p>   
    </div>


    <div class="feature">
      <p class="flag">Sustainability</p>
      <p class="para">I'm a Paragraph. Click here to add your own text <br>and edit me. It’s easy. Just click “Edit Text” or <br> double click me and you can start adding your <br> own content and make changes to the font.<br><br>
       ​I’m a great place for you to let your users know a <br> little more about you. If you want to delete me <br> just click on me and press delete<br><br><br><br>
     </p>   
    </div>
    
   <div class="feature">
    <p class="gray-flag">Corporate Development</p>
    <p class="para"> I'm a Paragraph. Click here to add your own text <br>and edit me. It’s easy. Just click “Edit Text” or <br> double click me and you can start adding your <br> own content and make changes to the font.<br><br>
     I’m a great place for you to let your users know a <br> little more about you. If you want to delete me <br> just click on me and press delete<br><br><br><br>
   </p>   
   <button  class="button" >Contact Us Now</button>
   </div>
   </div>
 </div>

      




<div class="footer">
    &copy; 2018 by AimanAli. Proudly created with love .
</div>



<script src="/main.js"></script>
</body>
</html>